<aside>
    <a class="home" href="/" title="EFE Home"><abbr title="EFE">EFE</abbr></a>
    <nav>
        <a href="https://github.com/ecomfe/spec" target="_blank">SPEC</a>
        <a href="/product.html">PRODUCT</a>
        <!--a href="/about.html">ABOUT</a-->
    </nav>
    <ul class="product-overview">
        <li><a target="_blank" href="http://echarts.baidu.com/">ECharts - 数据可视化图表库</a></li>
        <li><a target="_blank" href="https://github.com/ecomfe/esl">ESL - AMD Loader</a></li>
        <li><a target="_blank" href="https://github.com/ecomfe/edp">EDP - 前端开发平台</a></li>
        <li><a target="_blank" href="http://ecomfe.github.io/est/">EST - 基于 Less 的样式工具库</a></li>
        <li><a target="_blank" href="http://ecomfe.github.io/saber/">Saber - 移动 SPA 项目解决方案</a></li>
        <li><a target="_blank" href="https://github.com/ecomfe/rider">Rider - 移动样式工具库</a></li>
        <li><a target="_blank" href="https://github.com/ecomfe/er">ER - SPA 应用框架</a></li>
        <li><a target="_blank" href="https://github.com/ecomfe/esui">ESUI - UI 组件库</a></li>
        <li><a target="_blank" href="http://ecomfe.github.io/etpl/">ETpl - 灵活、高性能的模板引擎</a></li>
    </ul>
    <p class="efe-desc">百度EFE（Excellent FrontEnd）技术体系，前身是ECOM前端团队，后经过技术的发展，逐渐形成一套完善的前端技术体系。<br><br>EFE技术体系现由多个遵循该技术体系的前端团队所组成。E(Excellent)代表我们追求卓越的技术态度。</p>

    <%- partial('_partial/links') %>
</aside>
