    <dl class="links">
        <dt>Links</dt>
        <dd><a target="_blank" href="http://fex.baidu.com/">Baidu FEX</a></dd>
        <dd><a target="_blank" href="http://eux.baidu.com/">Baidu EUX</a></dd>
        <dd><a target="_blank" href="http://ued.taobao.org/blog/">Taobao UED</a></dd>
        <dd><a target="_blank" href="http://www.alloyteam.com/">Tencent AlloyTeam</a></dd>
        <dd><a target="_blank" href="http://isux.tencent.com/">Tencent ISUX</a></dd>
        <dd><a target="_blank" href="http://ued.ctrip.com/blog/?cat=11">CTrip UED</a></dd>
        <dd><a target="_blank" href="http://www.75team.com/">75Team</a></dd>
    </ul>
