@font-face{
    font-family: 'Vermin Vibes';
    src: url("./vermin_vibes.otf");
}
/*
 * http://www.fontspace.com/category/war
 */
@font-face{
    font-family: 'Scorched Earth';
    src: url("./kc.otf");
}

body {
    background: black;
}

ul li{
    list-style: none;
}

#draw-info {
    margin:10px;
    left:0px;
    top:10px;
    position:absolute;

    color:white;
    text-shadow:0px 0px 3px black;

    font-family: "Arial";
}

#main {
    position: absolute;
    left : 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.menu {
    position: absolute;
    left: 200px;
    top: 150px;

    -webkit-transform : perspective(600px) rotateY(30deg);
    -moz-transform : perspective(600px) rotateY(30deg);
    transform : perspective(600px) rotateY(30deg);

    z-index: 200
}

.menu li {
    font-family: 'Scorched Earth';

    list-style: none;
    font-size: 40px;
    color: #FAFAFA;
    line-height: 50px;
    margin: 30px;
    padding: 10px 20px 0px 20px;
    cursor: pointer;
}

.menu li.active  {
    background-color:#004263;
    color:#ffffff;

    font-size: 60px;
    line-height: 60px;
}

#powered-by {
    position: absolute;
    right: 20px;
    bottom: 20px;

    z-index: 10;
}

#powered-by h2 {
    font-family: "Vermin Vibes";
    font-size: 38px;
    margin:0px;
}

#powered-by p {
    font-family: 'Helvetica', 'Arial';
    margin:5px 0px;
}

#loading-mask {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 900;
}

.mask {
    position: absolute;
    
    left : 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background-color: rgba(0, 0, 0, 0.7);

    z-index: 100;
}

#loading {
    position: absolute;
    bottom: 50px;
    left: 200px;
    right: 200px;
    /*display: none;*/

    z-index: 1000
}

#loading-desc {
    position: absolute;
    right: 20px;
    color: #34B3F2;
    top: -25px;
}

#progress {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #34B3F2;
}

#progress-percent {
    margin-top: -1px;
    height: 5px;
    background-color: #1F688F;
    box-shadow: 0px 0px 10px #3F7A97;
    border-radius: 3px;
}
